{% extends 'base.html.twig' %}

{% block title %}Post manage{% endblock %}

{% block body %}
    <h1>Post index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Description</th>
            <th>Validated</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.post_id }}</td>
                <td>{{ post.post_description }}</td>
                <td>{{ post.post_validated }}</td>
                <td>
                    <a href="{{ path('posts_show', {'id': post.post_id, 'slug': post.post_title|slugify}) }}">show</a>
                    <a href="{{ path('posts_edit', {'id': post.post_id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('posts_new') }}">Create new</a>
{% endblock %}
