{{ form_start(form) }}
    {{ form_widget(form) }}
    <button>{{ button_label|default('Mettre à jour') }}</button>
{{ form_end(form) }}
<form method="post" action="{{ path('user_delete', {'id': user.id}) }}"
      onsubmit="return confirm('Confirmer la suppression ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button>Delete</button>
</form>