{{ form_start(form) }}
    {{ form_widget(form) }}
    {% if two_factor %}
        <div class="col-4">
            <ul>
                <li><a href="{{ path('user_qr', {'id': user.id}) }}" target="_blank">QR Code pour Google
                        Authenticator</a></li>
                <li><a href="{{ path('user_download_two_fa', {'id': user.id}) }}">Téléchargez les codes de Backup</a>
                </li>
            </ul>
        </div>
    {% endif %}
<button class="button">{{ button_label|default('Mettre à jour') }}</button>
{{ form_end(form) }}
<form method="post" action="{{ path('user_delete', {'id': user.id}) }}"
      onsubmit="return confirm('Confirmer la suppression ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="button">Supprimer</button>
</form>