{% extends is_mobile() ? 'base_mobile.html.twig' : 'base_default.html.twig' %}

{% block title %}Gestion des catégories{% endblock %}

{% block body %}
    <article class="post">
        <header>
            <div class="title">
                <h1 class="heading">Gestion des catégories</h1>
            </div>
            <div class="meta">
                <a href="{{ path('category_new') }}">Ajouter une catégorie</a>
            </div>
        </header>
        <section>
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for category in categories %}
                    <tr>
                        <td>{{ category.id }}</td>
                        <td>{{ category.name }}</td>
                        <td>
                            <a href="{{ path('category_show', {'id': category.id, 'name': category.name}) }}">Afficher</a>
                            <a href="{{ path('category_edit', {'id': category.id}) }}">Modifier</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">Aucun résultat</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
    </article>
{% endblock %}
