{% extends 'base.html.twig' %}

{% block title %}Catégorie : {{ category.name }}{% endblock %}

{% block body %}
    <article class="post">
        <header>
            <div class="title">
                <h1 class="heading">Catégorie : {{ category.name }}</h1>
            </div>
        </header>
        <section>
            {% for product in category.products %}
                <article class="mini-post">
                    <section class="content">
                        <h2 class="title">
                            <a href="{{ path('product_show', {'id' : product.id, 'slug' : product.title|slugify }) }}">{{ product.title }}</a>
                        </h2>
                        <p>{{ product.description }}</p>
                    </section>
                    <section>
                        <a href="{{ path('product_show', {'id' : product.id, 'slug' : product.title|slugify }) }}"
                           class="image">
                            <img src="{{ asset(product.file.getWebPath) }}"
                                 alt="{{ product.file.description }}"/>
                        </a>
                    </section>
                </article>
            {% else %}
                <p>Aucun article n'est disponible pour le moment</p>
            {% endfor %}
        </section>
    </article>
{% endblock %}
