{% extends 'base.html.twig' %}

{% block title %}File index{% endblock %}

{% block body %}
    <h1>File index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Image</th>
            <th>Link</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for file in files %}
            <tr>
                <td>{{ file.id }}</td>
                <td><img src="{{ asset(file.getWebPath) }}" alt="" width="300px"></td>
                {% if file.product is not null %}
                    <td>Product : {{ file.product.id }}</td>
                {% elseif file.user is not null %}
                    <td>User : {{ file.user.id }}</td>
                {% endif %}
                <td>
                    <a href="{{ path('file_show', {'id': file.id}) }}">show</a>
                    <a href="{{ path('file_edit', {'id': file.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('file_new') }}">Create new</a>
{% endblock %}
