{% extends 'base.html.twig' %}

{% block title %}Du numérique expliqué simplement{% endblock %}

{% block body %}
    <article class="post">
        <header>
            <div class="title">
                <h1 class="heading">Les derniers articles</h1>
            </div>
        </header>
        <section>
            {% for product in products %}
                <article class="mini-post">
                    <section class="content">
                        <h2 class="title-max">
                            <a href="{{ path('product_show', {'id' : product.id, 'slug' : product.title|slugify }) }}">{{ product.title }}</a>
                        </h2>
                        <p>{{ product.description }}</p>
                        <div class="display-article">
                            {% if product.category is not null %}
                                <span class="item icon icon-hashtag"><a
                                            href="{{ path('category_show', {'id': product.category.id, 'name': product.category.name|slugify }) }}">{{ product.category.name }}</a></span>
                            {% else %}
                                <span class="item icon icon-hashtag">Non répertorié</span>
                            {% endif %}

                            {% if product.user is not null %}
                                <span class="item icon icon-user"><a
                                            href="{{ path('user_show', {'id' : product.user.id}) }}">
                                    {{ product.user.username }}
                                </a></span>
                            {% else %}
                                <span class="item icon icon-user">Anonyme</span>
                            {% endif %}

                            <time class="item icon icon-plus-square">{{ product.timePublication|date('Y-m-d H:i:s') }}</time>
                        </div>
                    </section>
                    <section>
                        <a href="{{ path('product_show', {'id' : product.id, 'slug' : product.title|slugify }) }}"
                           class="image">
                            {% if product.file is not null %}
                                <img data-src="{{ asset(product.file.getWebPath) }}" width=920" height="620"
                                     alt="{{ product.file.description }}"
                                     class="lazyload img"/>
                                <noscript>
                                    <img src="{{ asset(product.file.getWebPath) }}"
                                         alt="{{ product.file.description }}" width=920" height="620" class="img"/>
                                </noscript>
                            {% endif %}
                        </a>
                    </section>
                </article>
            {% else %}
                <p>Aucun article n'est disponible pour le moment</p>
            {% endfor %}
        </section>
    </article>
{% endblock %}
{% block paginate %}
    {{ knp_pagination_render(products) }}
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{{ asset('assets/js/libs/lazysizes.min.js') }}"></script>
{% endblock %}
