{% extends is_mobile() ? 'base_mobile.html.twig' : 'base_default.html.twig' %}

{% block title %}Gestion des articles{% endblock %}

{% block description %}Page de gestion des articles.{% endblock %}

{% block head %}<meta name="robots" content="noindex, nofollow" />{% endblock %}

{% block body %}
    <article class="post">
        <header>
            <div class="title">
                <h1 class="heading">Gestion des articles</h1>
            </div>
            <div class="meta">
                <a href="{{ path('product_new') }}">Ajouter un article</a>
            </div>
        </header>
        <section>
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Titre</th>
                    <th>Auteur</th>
                    <th>Validation</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.id }}</td>
                        <td>{{ product.title }}</td>
                        {% if product.user is not null %}
                            <td>
                                <a href="{{ path('user_show', {'id' : product.user.id}) }}">{{ product.user.username }}</a>
                            </td>
                        {% else %}
                            <td>Anonyme</td>
                        {% endif %}
                        <td>{% if product.validated %}Oui{% else %}Non{% endif %}</td>
                        <td>
                            <a href="{{ path('product_show', {'id': product.id, 'slug': product.title|slugify}) }}">Afficher</a>
                            <a href="{{ path('product_edit', {'id': product.id}) }}">Modifier</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">Aucun résultat</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
    </article>
{% endblock %}
