{% extends is_mobile() ? 'base_mobile.html.twig' : 'base_default.html.twig' %}

{% block title %}{{ product.title }}{% endblock %}

{% block description %}{{ product.description }}{% endblock %}

{% block head %}
    <link rel="preload" href="{{ asset(product.file.getWebPath) }}" as="image"/>
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@graph": [
            {
                "@type": "Organization",
                "@id": "{{ app.request.getSchemeAndHttpHost() }}{{ path('product_index') }}#organization",
                "name": "Le Monde Du PC",
                "url": "{{ app.request.getSchemeAndHttpHost() }}{{ path('product_index') }}",
                "sameAs": [
                    "https://www.linkedin.com/company/lemondedupc",
                    "https://twitter.com/LeMondeDuPC",
                    "https://www.instagram.com/lemondedupc"
                ],
                "logo": {
                    "@type": "ImageObject",
                    "url": "{{ app.request.getSchemeAndHttpHost() }}{{ asset('assets/images/favicons/favicon-192x192.png') }}"
                }
            },
            {
                "@type": "WebSite",
                "@id": "{{ app.request.getSchemeAndHttpHost() }}{{ path('product_index') }}#website",
                "url": "{{ app.request.getSchemeAndHttpHost() }}{{ path('product_index') }}",
                "name": "Le Monde Du PC",
                "description": "Les sujets du numérique et du high tech ne doivent pas être compris uniquement par ceux qui les maitrisent. Retrouvez tout sur www.lemondedupc.fr !",
                "publisher": {
                    "@id": "{{ app.request.getSchemeAndHttpHost() }}{{ path('product_index') }}#organization"
                },
                "inLanguage": "fr-FR"
            },
            {
                "@type": "WebPage",
                "@id": "{{ app.request.getSchemeAndHttpHost() }}{{ path('product_show', {'id' : product.id, 'slug' : product.title|slugify }) }}#webpage",
                "url": "{{ app.request.getSchemeAndHttpHost() }}{{ path('product_show', {'id' : product.id, 'slug' : product.title|slugify }) }}",
                "name": "{{ product.title }}",
                "isPartOf": {
                    "@id": "{{ app.request.getSchemeAndHttpHost() }}{{ path('product_index') }}#website"
                },
                "datePublished": "{{ product.timePublication|date("c") }}",
                {% if product.timeUpdate is not null %}
                    "dateModified": "{{ product.timeUpdate|date("c") }}",
                {% endif %}
                "description": "{{ product.description }}",
                "breadcrumb": {
                    "@id": "{{ app.request.getSchemeAndHttpHost() }}{{ path('product_show', {'id' : product.id, 'slug' : product.title|slugify }) }}#breadcrumb"
                },
                "inLanguage": "fr-FR",
                "potentialAction": [
                    {
                        "@type": "ReadAction",
                        "target": [
                            "{{ app.request.getSchemeAndHttpHost() }}{{ path('product_show', {'id' : product.id, 'slug' : product.title|slugify }) }}"
                        ]
                    }
                ]
            },
            {
            "@type": "BreadcrumbList",
            "@id": "{{ app.request.getSchemeAndHttpHost() }}{{ path('product_show', {'id' : product.id, 'slug' : product.title|slugify }) }}#breadcrumb",
                "itemListElement": [{
                    "@type": "ListItem",
                    "position": 1,
                    "item": {
                        "@type": "WebPage",
                        "@id": "{{ app.request.getSchemeAndHttpHost() }}{{ path('product_index') }}",
                        "url": "{{ app.request.getSchemeAndHttpHost() }}{{ path('product_index') }}",
                        "name": "Accueil"
                    }
                },{
                    "@type": "ListItem",
                    "position": 2,
                    "item": {
                        {% if product.category is not null %}
                            "@type": "WebPage",
                            "@id": "{{ app.request.getSchemeAndHttpHost() }}{{ path('category_show', {'id': product.category.id, 'name': product.category.name|slugify }) }}",
                            "url": "{{ app.request.getSchemeAndHttpHost() }}{{ path('category_show', {'id': product.category.id, 'name': product.category.name|slugify }) }}",
                            "name": "{{ product.category.name }}"
                        {% else %}
                            "name": "Anonyme"
                        {% endif %}
                    }
                },{
                    "@type": "ListItem",
                    "position": 3,
                    "item": {
                        "@id": "{{ app.request.getSchemeAndHttpHost() }}{{ path('product_show', {'id' : product.id, 'slug' : product.title|slugify }) }}#webpage"
                    }
                }]
            },
            {
                "@type": [
                    "Article",
                    "NewsArticle"
                ],
                "@id": "{{ app.request.getSchemeAndHttpHost() }}{{ path('product_show', {'id' : product.id, 'slug' : product.title|slugify }) }}#article",
                "headline": "{{ product.title }}",
                "mainEntityOfPage": {
                    "@id": "{{ app.request.getSchemeAndHttpHost() }}{{ path('product_show', {'id' : product.id, 'slug' : product.title|slugify }) }}#webpage"
                },
                "publisher": {
                    "@id": "{{ app.request.getSchemeAndHttpHost() }}{{ path('product_index') }}#organization"
                },
                "inLanguage": "fr-FR",
                "copyrightYear": "2021",
                "copyrightHolder": {
                    "@id": "{{ app.request.getSchemeAndHttpHost() }}{{ path('product_index') }}#organization"
                },
                {% if product.user is not null %}
                "author": {
                    "@type": "Person",
                    "name": "{{ product.user.username }}"
                },
                {% endif %}
                "datePublished": "{{ product.timePublication|date("c") }}",
                {% if product.timeUpdate is not null %}
                    "dateModified": "{{ product.timeUpdate|date("c") }}",
                {% endif %}
                {% if product.file is not null %}
                    "image": "{{ asset(product.file.getWebPath) }}",
                {% endif %}
                {% if product.category is not null %}
                    "articleSection": "{{ product.category.name }}"
                {% endif %}
            }
        ]
    }
    </script>
{% endblock %}

{% block image %}{% if product.file is not null %}{{ app.request.getSchemeAndHttpHost() }}{{ asset(product.file.getWebPath) }}{% else %}{{ app.request.getSchemeAndHttpHost() }}{{ asset('assets/images/favicons/favicon-512x512.png') }}{% endif %}{% endblock %}

{% block body %}
    <article class="post">
        <header>
            <div class="title">
                <h1 class="heading">
                    {{ product.title }}
                </h1>
            </div>
            <div class="meta">
                <ul class="icons">
                    <li>
                        <time class="published icon icon-plus-square">{{ product.timePublication|date('Y-m-d H:i:s') }}</time>
                        {% if product.timeUpdate is not null %}
                            <time class="published icon icon-edit">{{ product.timeUpdate|date('Y-m-d H:i:s') }}</time>
                        {% endif %}
                    </li>
                </ul>
                <ul class="icons">
                    <li>
                        {% if product.user is not null %}
                            <a href="{{ path('user_show', {'id' : product.user.id}) }}" class="author">
                                <span class="icon icon-coins">{{ product.user.score }}</span>
                                <span class="name">{{ product.user.username }}</span>
                                {% if product.user.file is not null %}
                                    <img data-src="{{ asset(product.user.file.getWebPath) }}" width="56" height="56"
                                         alt="{{ product.user.file.description }}" class="img lazyload"/>
                                    <noscript>
                                        <img src="{{ asset(product.user.file.getWebPath) }}" width="56" height="56"
                                             alt="{{ product.user.file.description }}" class="img"/>
                                    </noscript>
                                {% endif %}
                            </a>
                        {% else %}
                            <span class="author name">Anonyme</span>
                        {% endif %}
                    </li>
                </ul>
                <ul class="icons">
                    <li>
                        <a href="{{ path('vote_heart', {'id': product.id}) }}" class="icon icon-heart"
                           title="Ajouter dans ma liste d'article favoris" rel="nofollow">
                            <span>{{ product.hearts|length }}</span>
                        </a>
                    </li>
                </ul>
                <ul class="icons">
                    <li>
                        <a href="https://twitter.com/share?url={{ app.request.uri }}&text={{ product.title|slugify }}"
                           target="_blank" class="icon icon-twitter">
                            <span class="label">Twitter</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/sharer.php?u={{ app.request.uri }}&t={{ product.title|slugify }}"
                           target="_blank" class="icon icon-facebook">
                            <span class="label">Facebook</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ app.request.uri }}&title={{ product.title|slugify }}"
                           target="_blank" class="icon icon-linkedin">
                            <span class="label">LinkedIn</span>
                        </a>
                    </li>
                </ul>
                <ul class="icons">
                    <li>
                        {% if product.category is not null %}
                            <span class="item icon icon-hashtag"><a
                                        href="{{ path('category_show', {'id': product.category.id, 'name': product.category.name|slugify }) }}">{{ product.category.name }}</a></span>
                        {% else %}
                            <span class="item icon icon-tag">Non répertorié</span>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </header>
        <section>
            {% if product.file is not null %}
                <img data-src="{{ asset(product.file.getWebPath) }}" alt="{{ product.file.description }}"
                     class="image featured lazyload" width="846" height="476"/>
                <noscript>
                    <img src="{{ asset(product.file.getWebPath) }}" alt="{{ product.file.description }}"
                         class="image featured" width="846" height="476"/>
                </noscript>
            {% endif %}
            {{ product.content|raw }}
        </section>
        <hr/>
        <section>
            <h3>Dans la même catégorie :</h3>
            <div class="box alt">
                <div class="row gtr-uniform">
                    {% for related in product.category.getRelated(product)|reverse[0:6] %}
                        <div class="col-4">
                            <a href="{{ path('product_show', {'id' : related.id, 'slug' : related.title|slugify }) }}">
                                {% if product.file is not null %}
                                    <img data-src="{{ asset(related.file.getWebPath) }}"
                                         alt="{{ related.file.description }}" class="image featured lazyload"
                                         width="297" height="177"/>
                                    <noscript>
                                        <img src="{{ asset(related.file.getWebPath) }}"
                                             alt="{{ related.file.description }}" class="image featured" width="297"
                                             height="177"/>
                                    </noscript>
                                {% endif %}
                                <p>{{ related.title }}</p>
                            </a>
                        </div>
                    {% else %}
                        <p>Aucun autre article n'est disponible pour le moment dans cette catégorie</p>
                    {% endfor %}
                </div>
            </div>
        </section>
        <hr/>
        <section>
            <h3>Commentaires :</h3>
            <section>
                {{ render(controller('App\\Controller\\VoteController::newComment', {'product' : product})) }}
            </section>
            {% for vote in product.comments %}
                <article class="comment">
                    <header>
                        <div class="title">
                            <span>{{ vote.content }}</span>
                        </div>
                        <div class="meta">
                            <time class="published">{{ vote.timePublication|date('Y-m-d H:i:s') }}</time>
                            <a class="author"
                               href="{{ path('user_show', {'id': vote.user.id }) }}">
                                <span class="name">{{ vote.user.username }}</span>
                                {% if vote.user.file is not null %}
                                    <img data-src="{{ asset(vote.user.file.getWebPath) }}"
                                         alt="{{ vote.user.file.description }}" class="img lazyload" width="56"
                                         height="56"/>
                                    <noscript>
                                        <img src="{{ asset(vote.user.file.getWebPath) }}"
                                             alt="{{ vote.user.file.description }}" class="img" width="56" height="56"/>
                                    </noscript>
                                {% endif %}
                            </a>
                            {% if app.user == vote.user %}
                                {{ include('vote/form/_comment_delete_form.html.twig') }}
                            {% endif %}
                        </div>
                    </header>
                </article>
            {% endfor %}
        </section>
    </article>
{% endblock %}
{% block scripts %}
    <script src="{{ asset('assets/plugins/tarteaucitron/tarteaucitron.js') }}"></script>
    <script type="text/javascript">
        tarteaucitron.init({
            "privacyUrl": "{{ path('page_about') }}#vie_privee",
            "hashtag": "#tarteaucitron",
            "cookieName": "tarteaucitron",
            "orientation": "bottom",
            "groupServices": false,
            "showAlertSmall": false,
            "cookieslist": false,
            "showIcon": true,
            "iconPosition": "BottomRight",
            "adblocker": false,
            "DenyAllCta": true,
            "AcceptAllCta": true,
            "highPrivacy": true,
            "handleBrowserDNTRequest": false,
            "removeCredit": false,
            "moreInfoLink": true,
            "useExternalCss": false,
            "readmoreLink": "{{ path('page_about') }}#vie_privee",
            "mandatory": true
        });
        (tarteaucitron.job = tarteaucitron.job || []).push('youtube');
    </script>
    <script src="{{ asset('assets/js/libs/lazysizes.min.js') }}"></script>
{% endblock %}
