{% extends '/base.html.twig' %}

{% block main %}
    {% for post in posts %}
        <article class="post">
            <header>
                <div class="title">
                    <h2>
                        <a href="{{ path('blog_post', {'id': post.post.id, 'slug': post.post.title|slugify}) }}">{{ post.post.title }}</a>
                    </h2>
                </div>
                <div class="meta">
                    <time class="published"><i class="icon fa-pencil"></i>{{ post.post.createdAt|date("d/m/Y") }}</time>
                    {% if post.post.updatedAt != null %}
                        <time class="published"><i class="icon fa-refresh"></i>{{ post.post.updatedAt|date("d/m/Y") }}
                        </time>
                    {% endif %}
                    <a href="{{ path('user_profile', {'id': post.user.id}) }}" class="author">
                        <span class="name">{{ post.user.username }}</span>
                        <img src="{{ asset('assets/images/avatar.jpg') }}" alt="{{ 'user.pic'|trans }}"/>
                    </a>
                </div>
            </header>
            <a href="{{ path('blog_post', {'id': post.post.id, 'slug': post.post.title|slugify}) }}" class="image featured">
                <img src="{{ asset('assets/images/pic01.jpg') }}" alt="{{ 'post.pic'|trans }}"/>
            </a>
            <div>
                <p>
                    {{ post.post.description }}
                </p>
            </div>
            <footer>
                <ul class="actions">
                    <li><a href="{{ path('blog_post', {'id': post.post.id, 'slug': post.post.title|slugify}) }}"
                           class="button large">{{ 'post.reading'|trans }}</a></li>
                </ul>
                <ul class="stats">
                    {% for tag in post.tags %}
                        <li class="icon fa-tag"><a href="{{ path('blog_posts', {'tag': tag.name|slugify}) }}">{{ tag.name }}</a></li>
                    {% endfor %}
                </ul>
            </footer>
        </article>
    {% endfor %}
    {% if posts is empty %}
        <article class="post">
            <div>
                <p>
                    {{ 'app.no_result'|trans }}
                </p>
            </div>
        </article>
    {% endif %}
{% endblock %}