{% extends '/base.html.twig' %}
 
{% block title %}{{ post.title }}{% endblock %}

{% block description %}{{ post.description }}{% endblock %}
 
{% block main %}
    <article class="post">
        <header>
            <div class="title">
                <h1>{{ post.title }}</h1>
            </div>
            <div class="meta">
                <time class="published"><i class="icon fa-pencil"></i>{{ post.createdAt|date("d/m/Y") }}</time>
                {% if post.updatedAt != null %}
                    <time class="published"><i class="icon fa-refresh"></i>{{ post.updatedAt|date("d/m/Y") }}
                    </time>
                {% endif %}
                <a href="{{ path('user_profile', {'id': user.id}) }}" class="author">
                    <span class="name">{{ user.username }}</span>
                    <img src="{{ asset('assets/images/avatar.jpg') }}" alt="{{ 'user.pic'|trans }}"/>
                </a>
                <span class="icon fa-heart">3</span>
                <span class="icon fa-comment">2</span>
            </div>
        </header>
        <img class="image featured" src="{{ asset('assets/images/pic01.jpg') }}"
             alt="{{ 'post.pic'|trans }}"/>
        <div>
            <p>
                {{ post.content }}
            </p>
        </div>
        <footer>
            <ul class="stats">
                {% for tag in tags %}
                    <li class="icon fa-tag"><a href="{{ path('blog_posts', {'tag': tag.name|slugify}) }}">{{ tag.name }}</a></li>
                {% endfor %}
            </ul>
        </footer>
    </article>
{% endblock %}