<!DOCTYPE HTML>
<html lang="fr">
<head>
    <title>Le Monde Du PC - {% block title %}Du numérique expliqué simplement{% endblock %}</title>
    <meta name="description"
          content="{% block description %}Les sujets du numérique et du high tech ne doivent pas être compris uniquement par ceux qui les maitrisent. Retrouvez tout sur Le Monde Du PC !{% endblock %}"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta property="og:site_name" content="Le Monde Du PC"/>
    <meta property="og:locale" content="fr_FR"/>
    <meta property="og:title" content="Le Monde Du PC - {{ block('title') }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ app.request.uri }}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('assets/images/favicons/apple-touch-icon.png') }}"/>
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('assets/images/favicons/favicon-32x32.png') }}"/>
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('assets/images/favicons/favicon-16x16.png') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/style/css/main.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/style/css/font-awesome.css') }}"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Raleway:600,700|Source+Sans+Pro:400,400i,600,600i&display=swap"/>
</head>
<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <h1><a href="{{ path('product_index') }}">Le Monde Du PC</a></h1>
        <nav id="navheader" class="links">
            <ul id="nav">
                <li><a href="{{ path('page_contact') }}">Nous contacter</a></li>
                <li><a href="{{ path('page_about') }}">A propos</a></li>
            </ul>
        </nav>
        <nav class="main">
            <ul>
                <li class="search">
                    <a class="icon fa-search" href="#search">Rechercher</a>
                    <form id="search" method="post" action="{{ path('product_search') }}">
                        <input type="search" name="q" placeholder="Rechercher"/>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('search') }}" />
                    </form>
                </li>
                <li class="menu">
                    <a class="icon fa-bars" href="#menu">Menu</a>
                </li>
            </ul>
        </nav>
    </header>

    <!-- Menu -->
    <nav id="menu">
        <!-- Search -->
        <div>
            <form class="search" method="post" action="{{ path('product_search') }}">
                <input type="text" name="q" placeholder="Rechercher"/>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('search') }}" />
            </form>
        </div>
        <!-- links -->
        <nav id="navmenu">

        </nav>

        {% if is_granted('ROLE_USER') %}
            {% if is_granted('ROLE_MANAGE_CATEGORIES') or is_granted('ROLE_MANAGE_USERS') or is_granted('ROLE_MANAGE_PRODUCTS') or is_granted('ROLE_MANAGE_PARTNERS') %}
                <nav>
                    <ul class="links">
                        {% if is_granted('ROLE_MANAGE_USERS') %}
                            <li><a href="{{ path('user_manage') }}">Gestions des utilisateurs</a></li>
                        {% endif %}
                        {% if is_granted('ROLE_MANAGE_PRODUCTS') %}
                            <li><a href="{{ path('product_manage') }}">Gestion des articles</a></li>
                        {% endif %}
                        {% if is_granted('ROLE_MANAGE_CATEGORIES') %}
                            <li><a href="{{ path('category_manage') }}">Gestion des catégories</a></li>
                        {% endif %}
                        {% if is_granted('ROLE_MANAGE_PARTNERS') %}
                            <li><a href="{{ path('partner_manage') }}">Gestion des partenaires</a></li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}
            {% if is_granted('ROLE_CREATE_PRODUCTS') and is_granted('ROLE_MANAGE_PRODUCTS') == false %}
                <nav>
                    <ul class="links">
                        <li><a href="{{ path('product_new') }}">Créer un article</a></li>
                        <li><a href="{{ path('product_manage') }}">Mes articles</a></li>
                    </ul>
                </nav>
            {% endif %}
            <nav>
                <ul class="links">
                    <li><a href="{{ path('user_show', {'id' : app.user.id }) }}">Mon profil</a></li>
                    <li><a href="{{ path('user_edit', {'id' : app.user.id }) }}">Paramètres</a></li>
                </ul>
            </nav>
        {% endif %}

        <!-- Links -->
        <nav>
            <ul class="actions fit">
                {% if is_granted('ROLE_USER') %}
                    <li><a href="{{ path('user_logout') }}" class="button fit">Déconnexion</a></li>
                {% else %}
                    <li><a href="{{ path('user_login') }}" class="button fit">Connexion</a></li>
                    <li><a href="{{ path('user_new') }}" class="button fit">Inscription</a></li>
                {% endif %}
            </ul>
        </nav>
    </nav>

    <!-- Main -->
    <div id="main">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="notification {{ label }}">
                    {{ message }}
                    <span class="closebtn">&times;</span>
                </div>
            {% endfor %}
        {% endfor %}
        {% block body %}{% endblock %}
        {% block paginate %}{% endblock %}
    </div>

    <!-- Sidebar -->
    <aside id="sidebar">
        <!-- Intro -->
        <section id="intro">
            <img class="logo" src="{{ asset('assets/images/favicons/favicon-192x192.png') }}"
                 alt="Logo"/>
            <header>
                <h2>Le Monde Du PC</h2>
                <p>Les sujets du numérique et du high tech ne doivent pas être compris uniquement par ceux qui les
                    maitrisent.</p>
                <ul class="icons">
                    <li><a href="https://twitter.com/LeMondeDuPC" target="_blank" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="https://www.instagram.com/lemondedupc.fr" target="_blank" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="https://github.com/NielsTRS/LeMondeDuPC" target="_blank" class="icon fa-github"><span class="label">Github</span></a></li>
                </ul>
            </header>
        </section>
        <!-- Mini Posts -->
        <section>
            <h3>Catégories :</h3>
            <div class="mini-posts">
                {{ render(controller('App\\Controller\\CategoryController::_index')) }}
            </div>
        </section>
        <!-- Footer -->
        <footer id="footer">
            <p class="license">
                Le Monde Du PC | Version 2.0 CC BY NC ND <br/> Sur une base de
                <a target="_blank" href="https://html5up.net/">HTML5 UP!</a>
            </p>
        </footer>
    </aside>
</div>

<!-- Scripts -->
<script src="{{ asset('assets/js/libs/jquery.min.js') }}"></script>
<script src="{{ asset('assets/js/libs/breakpoints.js') }}"></script>
<script src="{{ asset('assets/js/libs/util.js') }}"></script>
<script src="{{ asset('assets/js/main.js') }}"></script>
{% block editor %}{% endblock %}

</body>
</html>