<!DOCTYPE HTML>
<html lang="fr" prefix="og: http://ogp.me/ns#">
<head>
    <title>Le Monde Du PC - {% block title %}Du numérique expliqué simplement{% endblock %}</title>
    <meta name="description"
          content="{% block description %}Les sujets du numérique et du high tech ne doivent pas être compris uniquement par ceux qui les maitrisent. Retrouvez tout sur www.lemondedupc.fr !{% endblock %}"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta property="og:site_name" content="Le Monde Du PC"/>
    <meta property="og:locale" content="fr_FR"/>
    <meta property="og:title" content="Le Monde Du PC - {{ block('title') }}"/>
    <meta property="og:description"
          content="{{ block('description') }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image"
          content="{% block image %}{{ app.request.getSchemeAndHttpHost() }}{{ asset('assets/images/favicons/favicon-192x192.png') }}{% endblock %}">
    <meta property="og:url" content="{{ app.request.uri }}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('assets/images/favicons/apple-touch-icon.png') }}"/>
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('assets/images/favicons/favicon-32x32.png') }}"/>
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('assets/images/favicons/favicon-16x16.png') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/style/css/main.css') }}"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Raleway:600,700|Source+Sans+Pro:400,400i,600,600i&display=swap"/>
    <script data-ad-client="ca-pub-4341744515604326" async
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <h1><a href="{{ path('product_index') }}">Le Monde Du PC</a></h1>
        <nav id="navheader" class="links">
            <ul id="nav">
                <li><a href="{{ path('page_contact') }}">Nous contacter</a></li>
                <li><a href="{{ path('user_ranking') }}">Top des membres</a></li>
                <li><a href="{{ path('page_about') }}">A propos</a></li>
            </ul>
        </nav>
        <nav class="main">
            <ul>
                <li class="search">
                    <a class="icon fa-search" href="#search">Rechercher</a>
                    {{ render(controller('App\\Controller\\SearchController::createView')) }}
                </li>
                <li class="menu">
                    <a class="icon fa-bars" href="#menu">Menu</a>
                </li>
            </ul>
        </nav>
    </header>

    <!-- Menu -->
    <nav id="menu">
        <!-- Search -->
        <div>
            {{ render(controller('App\\Controller\\SearchController::createView')) }}
        </div>
        <!-- links -->
        <nav id="navmenu">

        </nav>

        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            {% if is_granted('ROLE_MANAGE_CATEGORIES') or is_granted('ROLE_MANAGE_USERS') or is_granted('ROLE_MANAGE_PRODUCTS') or is_granted('ROLE_MANAGE_PARTNERS') %}
                <nav>
                    <ul class="links">
                        {% if is_granted('ROLE_MANAGE_USERS') %}
                            <li><a href="{{ path('user_manage') }}">Gestions des utilisateurs</a></li>
                        {% endif %}
                        {% if is_granted('ROLE_MANAGE_PRODUCTS') %}
                            <li><a href="{{ path('product_manage') }}">Gestion des articles</a></li>
                        {% endif %}
                        {% if is_granted('ROLE_MANAGE_CATEGORIES') %}
                            <li><a href="{{ path('category_manage') }}">Gestion des catégories</a></li>
                        {% endif %}
                        {% if is_granted('ROLE_MANAGE_PARTNERS') %}
                            <li><a href="{{ path('partner_manage') }}">Gestion des partenaires</a></li>
                        {% endif %}
                        {% if is_granted('ROLE_MANAGE_VOTES') %}
                            <li><a href="{{ path('votes_manage') }}">Gestion des réactions</a></li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}
            {% if is_granted('ROLE_CREATE_PRODUCTS') and is_granted('ROLE_MANAGE_PRODUCTS') == false %}
                <nav>
                    <ul class="links">
                        <li><a href="{{ path('product_new') }}">Créer un article</a></li>
                        <li><a href="{{ path('product_manage') }}">Mes articles</a></li>
                    </ul>
                </nav>
            {% endif %}
            <nav>
                <ul class="links">
                    <li><a href="{{ path('user_show', {'id' : app.user.id }) }}">Mon profil</a></li>
                    <li><a href="{{ path('user_edit', {'id' : app.user.id }) }}">Paramètres</a></li>
                </ul>
            </nav>
        {% endif %}

        <!-- Links -->
        <nav>
            <ul class="actions fit">
                {% if is_granted('ROLE_USER') %}
                    <li><a href="{{ path('user_logout') }}" class="button fit">Déconnexion</a></li>
                {% else %}
                    <li><a href="{{ path('user_login') }}" class="button fit">Connexion</a></li>
                    <li><a href="{{ path('user_new') }}" class="button fit">Inscription</a></li>
                {% endif %}
            </ul>
        </nav>
    </nav>

    <!-- Main -->
    <div id="main">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="notification {{ label }}">
                    {{ message }}
                    <span class="closebtn">&times;</span>
                </div>
            {% endfor %}
        {% endfor %}
        {% block body %}{% endblock %}
        {% block paginate %}{% endblock %}
    </div>

    <!-- Sidebar -->
    <aside id="sidebar">
        <!-- Intro -->
        <section id="intro">
            <img class="logo" src="{{ asset('assets/images/favicons/favicon-192x192.png') }}"
                 alt="Logo"/>
            <header>
                <h2>Le Monde Du PC</h2>
                <p class="intro">Les sujets du numérique et du high tech ne doivent pas être compris uniquement par ceux
                    qui les
                    maitrisent.</p>
                <ul class="icons">
                    <li><a href="https://www.linkedin.com/company/lemondedupc" target="_blank" class="icon fa-linkedin"><span
                                    class="label">LinkedIn</span></a></li>
                    <li><a href="https://discord.gg/WHYRZfU" target="_blank" class="icon fa-discord"><span
                                    class="label">Discord</span></a></li>
                    <li><a href="https://twitter.com/LeMondeDuPC" target="_blank" class="icon fa-twitter"><span
                                    class="label">Twitter</span></a></li>
                    <li><a href="https://www.instagram.com/lemondedupc" target="_blank"
                           class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="https://github.com/NielsTRS/LeMondeDuPC" target="_blank" class="icon fa-github"><span
                                    class="label">Github</span></a></li>
                    <li><a href="{{ path('page_rss') }}" target="_blank" class="icon fa-rss"><span
                                    class="label">RSS</span></a></li>
                </ul>
                <hr/>
                <p>
                    Vous voulez rejoindre notre équipe de rédacteurs afin de partager vos connaisances ? Il suffit de
                    <a href="{{ path('user_new') }}">créer un compte</a> !
                </p>
            </header>
        </section>
        <section>
            <p>Les pubs permettent de maintenir le site en "vie". Merci de votre compréhension !</p>
        </section>
        <!-- Mini Posts -->
        <section>
            <h3>Catégories :</h3>
            {{ render(controller('App\\Controller\\CategoryController::_index')) }}
        </section>

        <!-- Discord widget -->
        <section>
            <h3>Notre serveur Discord :</h3>
            <iframe src="https://discordapp.com/widget?id=431902533984714752&theme=dark" style="width:100%;height:500px"
                    allowtransparency="true" frameborder="0"
                    sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
        </section>

        <!-- Footer -->
        <footer id="footer">
            <p class="license">
                Le Monde Du PC | Sur une base de
                <a target="_blank" href="https://html5up.net/">HTML5 UP!</a>
            </p>
        </footer>
    </aside>
</div>

<!-- Scripts -->
<script type="text/javascript" src="{{ asset('assets/js/libs/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/libs/breakpoints.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/libs/util.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/main.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/conf/ckeditor.js') }}"></script>
<script type="application/javascript" async src="https://kit.fontawesome.com/75d1f3e298.js"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ asset('assets/tarteaucitron/tarteaucitron.js') }}"></script>

<script type="text/javascript">
    tarteaucitron.init({
        "privacyUrl": "", /* Privacy policy url */

        "hashtag": "#tarteaucitron", /* Open the panel with this hashtag */
        "cookieName": "consent_status", /* Cookie name */

        "orientation": "bottom", /* Banner position (top - middle - bottom) */
        "showAlertSmall": true, /* Show the small banner on bottom right */
        "cookieslist": true, /* Show the cookie list */

        "adblocker": false, /* Show a Warning if an adblocker is detected */
        "AcceptAllCta": true, /* Show the accept all button when highPrivacy on */
        "highPrivacy": true, /* Disable auto consent */
        "handleBrowserDNTRequest": false, /* If Do Not Track == 1, disallow all */

        "removeCredit": false, /* Remove credit link */
        "moreInfoLink": true, /* Show more info link */
        "useExternalCss": false, /* If false, the tarteaucitron.css file will be loaded */

        //"cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for multisite */

        "readmoreLink": "{{ path('page_about') }}#vie_privee", /* Change the default readmore link */

        "mandatory": false, /* Show a message about mandatory cookies */
    });
    (tarteaucitron.job = tarteaucitron.job || []).push('youtube');
    (tarteaucitron.job = tarteaucitron.job || []).push('recaptcha');
</script>

</body>
</html>
