{% extends 'base.html.twig' %}

{% block title %}Locations index{% endblock %}

{% block body %}
    <article class="post">
        <header>
            <div class="title">
                <h2>Gestion des catégories</h2>
            </div>
            <div class="meta">
                <a href="{{ path('locations_new') }}">Ajouter une catégorie</a>
            </div>
        </header>
        <section>
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for location in locations %}
                    <tr>
                        <td>{{ location.id }}</td>
                        <td>{{ location.name }}</td>
                        <td>
                            <a href="{{ path('locations_show', {'id': location.id, 'name': location.name}) }}">Afficher</a>
                            <a href="{{ path('locations_edit', {'id': location.id}) }}">Modifier</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">Aucun résultat</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
    </article>
{% endblock %}
