{% extends 'base.html.twig' %}

{% block title %}Locations index{% endblock %}

{% block body %}
    <h1>Locations index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for location in locations %}
            <tr>
                <td>{{ location.id }}</td>
                <td>{{ location.name }}</td>
                <td>
                    <a href="{{ path('locations_show', {'name': location.name}) }}">show</a>
                    <a href="{{ path('locations_edit', {'id': location.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('locations_new') }}">Create new</a>
{% endblock %}
