{% extends 'base.html.twig' %}

{% block title %}Catégorie : {{ location.name }}{% endblock %}

{% block body %}
    <article class="post">
        <header>
            <div class="title">
                <h1 class="heading">Catégorie : {{ location.name }}</h1>
            </div>
        </header>
        <section>
            {% for post in location.posts %}
                <article class="mini-post">
                    <section class="content">
                        <h2 class="title">
                            <a href="{{ path('posts_show', {'id' : post.id, 'slug' : post.title|slugify }) }}">{{ post.title }}</a>
                        </h2>
                        <p>{{ post.description }}</p>
                    </section>
                    <section>
                        <a href="{{ path('posts_show', {'id' : post.id, 'slug' : post.title|slugify }) }}"
                           class="image">
                            <img src="http://www.e-works.fr/blog/wp-content/uploads/2017/11/amazon-1024x458.png" alt="">
                        </a>
                    </section>
                </article>
            {% else %}
                <p>Aucun article n'est disponible pour le moment</p>
            {% endfor %}
        </section>
    </article>
{% endblock %}
