{% extends '/base.html.twig' %}

{% block title %}Espace membre{% endblock %}

{% block description %}Les sujets du numérique et du high tech ne doivent pas être compris uniquement par ceux qui les maitrisent. Retrouvez tout sur Le Monde Du PC !{% endblock %}

{% block main %}
    <article class="post">
        <header>
            <div class="title">
                <h1>{{ 'Member area'|trans }}</h1>
            </div>
        </header>
        {% if formRegistration is defined %}
            {{ form_start(formRegistration) }}
            <h3>{{ 'Registration'|trans }}</h3>
            <div class="row gtr-uniform">
                <div class="col-12">
                    {{ form_widget(formRegistration.Username) }}
                    {{ form_widget(formRegistration.Email) }}
                    {{ form_widget(formRegistration.Password) }}
                </div>
                <div class="col-12">
                    <ul class="actions">
                        <li>{{ form_widget(formRegistration.Create) }}</li>
                        <li>{{ form_widget(formRegistration.Cancel) }}</li>
                    </ul>
                </div>
            </div>
            {{ form_end(formRegistration) }}
        {% else %}
            {{ form_start(formLogin) }}
            <h3>{{ 'Connection'|trans }}</h3>
            <div class="row gtr-uniform">
                <div class="col-12">
                    {{ form_widget(formLogin.Username) }}
                    {{ form_widget(formLogin.Password) }}
                </div>
                <div class="col-12">
                    <ul class="actions">
                        <li>{{ form_widget(formLogin.Connection) }}</li>
                        <li>{{ form_widget(formLogin.Cancel) }}</li>
                    </ul>
                </div>
            </div>
            {{ form_end(formLogin) }}
        {% endif %}
    </article>
{% endblock %}