{% extends is_mobile() ? 'base_mobile.html.twig' : 'base_default.html.twig' %}

{% block title %}Gestion des membres{% endblock %}

{% block body %}
    <article class="post">
        <header>
            <div class="title">
                <h1 class="heading">Gestion des membres</h1>
            </div>
            <div class="meta">
                <a href="{{ path('user_new') }}">Ajouter un membre</a>
            </div>
        </header>
        <section>
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Identifiant</th>
                    <th>Roles</th>
                    <th>Validation</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                        <td>{% if user.validated %}Oui{% else %}Non{% endif %}</td>
                        <td>
                            <a href="{{ path('user_show', {'id': user.id}) }}">Voir le profil</a>
                            <a href="{{ path('user_edit', {'id': user.id}) }}">Modifier le membre</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">Aucun résultat</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
    </article>
{% endblock %}
