{% extends is_mobile() ? 'base_mobile.html.twig' : 'base_default.html.twig' %}

{% block title %}Le Monde Du PC - Profil de {{ user.username }}{% endblock %}

{% block description %}Profil du compte utilisateur de {{ user.username }}.{% endblock %}

{% block head %}<meta name="robots" content="noindex" />{% endblock %}

{% block body %}
    <article class="post">
        <header>
            <div class="title">
                <h1 class="heading">
                    Profil de {{ user.username }}
                </h1>
            </div>
            <div class="meta">
                <time class="published">Inscrit depuis le : {{ user.timePublication|date('d M Y à H:i') }}</time>
                <span class="author">
                    {% if user.file is not null %}
                        <img data-src="{{ asset(user.file.getWebPath) }}"
                             alt="{{ user.file.description }}" class="img lazyload" width="56" height="56"/>
                        <noscript>
                            <img src="{{ asset(user.file.getWebPath) }}"
                                 alt="{{ user.file.description }}" class="img" width="56" height="56"/>
                        </noscript>
                    {% endif %}
                </span>
                <p class="icon icon-coins">{{ user.score }}</p>
            </div>
        </header>
        {% if user.description is not null %}
            <section>
                <p>{{ user.description }}</p>
            </section>
        {% endif %}
        {% if user.hearts is not empty and app.user == user %}
            <section>
                <h2>Mes articles favoris : </h2>
                <div class="box alt">
                    <div class="row gtr-uniform">
                        {% for heart in user.hearts %}
                            <div class="col-4">
                                <a href="{{ path('product_show', {'id' : heart.product.id, 'slug' : heart.product.title|slugify }) }}">
                                    <img class="image featured lazyload" width="297" height="177"
                                         data-src="{{ asset(heart.product.file.getWebPath) }}"
                                         alt="{{ heart.product.file.description }}"/>
                                    <noscript>
                                        <img class="image featured" width="297" height="177"
                                             src="{{ asset(heart.product.file.getWebPath) }}"
                                             alt="{{ heart.product.file.description }}"/>
                                    </noscript>
                                    <p>{{ heart.product.title }}</p>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
            <hr/>
        {% endif %}
        {% if user.products is not empty %}
            <section>
                <h2>Les articles de l'utilisateur : </h2>
                <div class="box alt">
                    <div class="row gtr-uniform">
                        {% for product in user.products|reverse %}
                            <div class="col-4">
                                <a href="{{ path('product_show', {'id' : product.id, 'slug' : product.title|slugify }) }}">
                                    {% if product.file is not null %}
                                        <img width="297" height="177" data-src="{{ asset(product.file.getWebPath) }}"
                                             alt="{{ product.file.description }}" class="image featured lazyload"/>
                                        <noscript>
                                            <img width="297" height="177" class="image featured"
                                                 src="{{ asset(product.file.getWebPath) }}"
                                                 alt="{{ product.file.description }}"/>
                                        </noscript>
                                    {% endif %}
                                    <p>{{ product.title }}</p>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        {% endif %}
    </article>
{% endblock %}
{% block scripts %}
    <script src="{{ asset('assets/js/libs/lazysizes.min.js') }}"></script>
{% endblock %}