{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <article class="post">
        <header>
            <div class="title">
                <h1 class="heading">
                    Compte utilisateur
                </h1>
            </div>
            <div class="meta">
                <time class="published">Inscrit depuis le : {{ user.timePublication|date('d M Y à H:i') }}</time>
                <a href="#" class="author">
                    <span class="name">{{ user.username }}</span>
                    {% if user.file is not null %}
                        <img src="{{ asset(user.file.getWebPath) }}" alt="{{ user.file.description }}"/>
                    {% endif %}
                </a>
                <p class="icon fa fa-coins">{{ user.score }}</p>
            </div>
        </header>
        {% if user.description is not null %}
            <section>
                <p>{{ user.description }}</p>
            </section>
        {% endif %}
        {% if user.hearts is not empty and app.user == user %}
            <section>
                <h2>Mes articles favoris : </h2>
                <div class="box alt">
                    <div class="row gtr-uniform">
                        {% for heart in user.hearts %}
                            <div class="col-4">
                                <a class="image featured"
                                   href="{{ path('product_show', {'id' : heart.product.id, 'slug' : heart.product.title|slugify }) }}">
                                    <img src="{{ asset(heart.product.file.getWebPath) }}" alt=""/>
                                    <span>{{ heart.product.title }}</span>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
            <hr/>
        {% endif %}
        {% if user.products is not empty %}
            <section>
                <h2>Les articles de l'utilisateur : </h2>
                <div class="box alt">
                    <div class="row gtr-uniform">
                        {% for product in user.products|reverse %}
                            <div class="col-4">
                                <a class="image featured"
                                   href="{{ path('product_show', {'id' : product.id, 'slug' : product.title|slugify }) }}">
                                    {% if product.file is not null %}
                                        <img data-src="{{ asset(product.file.getWebPath) }}"
                                             alt="{{ product.file.description }}" class="lazyload"/>
                                        <noscript>
                                            <img src="{{ asset(product.file.getWebPath) }}"
                                                 alt="{{ product.file.description }}"/>
                                        </noscript>
                                    {% endif %}
                                    <span>{{ product.title }}</span>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        {% endif %}

    </article>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{{ asset('assets/js/libs/lazysizes.min.js') }}"></script>
{% endblock %}